<h1>Concert Tracker</h1>
<br>
<h2>Bands</h2>
<p>Click on band name to see venues they've played, edit, or delete them</p>
<br>
<% if @bands.any? %>
  <% @bands.each do |band| %>
    <ul>
      <li><a href="/bands/<%= band.id %>"><%= band.name %></a></li>
    </ul>
  <% end %>
<% else %>
<p>Add new band name below</p>
<% end %>

<br>
<h3>Add a new band:</h3>
<form action="/bands" method="post">
  <label for="band">Band name:</label>
  <input id="band" name="band" type="text">

  <button type="submit" class="btn btn-sm btn-success">Add Band</button>
</form>

<h3>Add a new venue:</h3>
<form action="/venues" method="post">
  <label for="venue">Venue name:</label>
  <input id="venue" name="venue" type="text">

  <button type="submit" class="btn btn-sm btn-success">Add Venue</button>
</form>
