<!DOCTYPE html>
<html>
  <head>
    <title>Concert Tracker</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  </head>
  <body>
    <h1>Concert Tracker</h1>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
